/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    zoom: 200%;
}

#clock {
    display: flex;
    gap: 10px;
    align-items: center;
}

.digit {
    width: 58px;
    height: 100px;
}

.colon {
    font-size: 5rem;
    color: lightgray;
    display: flex;
    align-items: center;
}
